<!DOCTYPE html>
<html>
  <head>
    <title>Numeropedia|AoG</title>
    <meta name="description" content="Numeroedia: Ask for any number to know its intresting fact.">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>
    <header>
      <h1>
        Numeropedia      
      </h1>
    </header>

    <main>
      <iframe
        width="350"
        height="430"
        src="https://console.dialogflow.com/api-client/demo/embedded/fdbd4581-b230-451a-9dc4-f9f2b6db17c9">
      </iframe>
    </main>

    <footer>
      <a href="https://glitch.com">
        Remix this in Glitch
      </a>
    </footer>
  </body>
</html>
